{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-header">
            App Routes
        </div>
        <div class="card-body text-dark">
            <pre id="json_code"></pre>
        </div>
    </div>

    <div class="card p-3 mt-3">
        Form goes here
    </div>

{% endblock content %}

{% block extra_js %}
    <script>
        var data = {{ paths | safe }};
        var str = JSON.stringify(data, undefined, 4);
        document.getElementById("json_code").innerHTML = urlify(syntaxHighlight(str));
    </script>
{% endblock extra_js %}